{% extends '_base.html' %}
{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
        <div class="card-body">
            <form method="POST" action="{{ url_for('admin_edit_venue', id=venue.id) }}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ venue.name }}">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="location" name="location" placeholder="Location" value="{{ venue.location }}">
                    <label for="location">Location</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Capacity" value="{{ venue.capacity }}">
                    <label for="capacity">Capacity</label>
                </div>
                <button type="submit" class="btn btn-outline-primary">Edit venue</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}