{% extends '_base.html' %}
{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div>
        <h1 class="text-center my-3">TicketShow Admin</h1>
        <div class="card text-center">
            <div class="card-body">
                <form method="POST" action="{{ url_for('admin_signup') }}">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}